**/target
**/log
**/bin
**/.scannerwork/**
**/.idea/**
*.log
**/*.classpath
**/.factorypath
**/*.project
**/.settings
**/.fastRequest
*.iml
*.pdf
**/coverage-merged
*.eml
*.bak
**/.DS_Store
**/logs
**/.vscode
**/.flattened-pom.xml
**/oradata/MYCIM4/
**/oradata/dbconfig/
**/oradata/*.created
